.card {
    height: 340px;
    width: 220px;
    box-shadow: 10px 10px 5px #aaaaaa;
    border-radius: 5px;
    border: 1px solid grey;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  
  .card-suit {
    width: 100px;
    height: 100px;
    display: block;
    margin: 0 auto;
  }
  .number-above {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 20px;
    font-weight: bold;
  }
  
  .number-below {
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 20px;
    font-weight: bold;
    transform: rotate(180deg);
  }