body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.App {
  font-family: sans-serif;
  text-align: center;
}

.drawn-cards {
  display: flex;
  flex-wrap: wrap;
}

.card {
  height: 340px;
  width: 220px;
  box-shadow: 10px 10px 5px #aaaaaa;
  border-radius: 5px;
  border: 1px solid grey;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}


.card-suit {
  width: 100px;
  height: 100px;
  display: block;
  margin: 0 auto;
}
.number-above {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 20px;
  font-weight: bold;
}

.number-below {
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 20px;
  font-weight: bold;
}